
/* Tooltip arrow */
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip + .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
       bottom: 101%;
    padding: 5px;
    font-size: 12px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}
.tooltip:hover + .tooltiptext {
    visibility: visible;
    opacity: 1;
}
